.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 3;
    height: 50px;
}

.mat-sidenav {
    /* position: absolute; */
    /* margin-top: 54px; */
    width: 240px;
}

.mat-sidenav-container {
    position: absolute;
    top: 50px;
    width: 100%;
    bottom: 0;
}

.container-loading-shade {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
}

.example-loading-shade {
    position: fixed;
    z-index: 1;
    top: 40%;
    bottom: 40%;
    right: 40%;
    left: 40%;
}

.mat-list-item {
    color: rgba(0, 0, 0, .65);
}

.mat-list-item:hover {
    color: rgba(0, 0, 0);
}

.user-photo {
    border-radius: 50%;
    border: 0;
    width: 32px;
    height: 32px;
}