<mat-toolbar color="primary" [class.mat-elevation-z4]="true">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>To Do List App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button matTooltip="Page Info" class="example-icon" (click)="showInfo()" aria-label="Example icon-button with menu icon">
        <mat-icon>info</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Login" class="example-icon" aria-label="Example icon-button with menu icon" (click)="auth.loginWithRedirect({appState: { target: '/todoList' }})" *ngIf="(auth.isAuthenticated$ | async) === false">
        <mat-icon>login</mat-icon>
    </button>

    <button mat-icon-button *ngIf="auth.user$ | async as user" (click)="showProfile(user.picture, user.name, user.email)" [matTooltip]="user.name +'\'s account info'">
        <img *ngIf="auth.user$ | async as user" [src]="user.picture"  class="user-photo" [alt]="user.name" />
    </button>

</mat-toolbar>
<mat-sidenav-container [hasBackdrop]="true">
    <mat-sidenav #drawer mode="over">
        <mat-nav-list (click)="drawer.toggle()">
            <a mat-list-item routerLink="/todoList">TODO List Manager</a>
            <a mat-list-item routerLink="/search">Search Tasks</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <div class="container-loading-shade" *ngIf="auth.isLoading$ | async">
            <mat-spinner [diameter]="150" class="example-loading-shade"></mat-spinner>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>